#container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "rubik";
}
#profile{
    text-align: center;
}
#close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: grey;
    cursor: pointer;
}
#pic{
    background-color: #575353;
    color: white;
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    margin: auto;
}
h1{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
}
h2{
    font-size: 1.5rem;
    margin-top: .5rem;
    color: #575353;
}
#show{
    padding: .8rem;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #0e8682;
    color: white;
    transition: 200ms;
}
#show:hover{
    cursor: pointer;
    box-shadow: 0 0 5px #0e8682;
}
#message{
    display: none;
    position: relative;
    width: 40%;
    height: 60vh;
    border-radius: 15px;
    background-color: white;
}
#user{
    width: 80%;
    margin: auto;
}

#user div{
    display: inline-block;
}
#user div i{
    width: 100px;
    height: 100px;
    background-color: #575353;
    border-radius: 50%;
    color: white;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;
}
#user div h1{
    font-size: 2rem;
    font-weight: bold;
}
#user div h2{
    font-size: 1.5rem;
    margin-top: .5rem;
    color: #575353;
}
#input{
    width: 80%;
    height: 45%;
    margin: 1rem auto;
}
#input textarea{
    width: 100%;
    height: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
    background-color: #d2d0d0;
    font-size: 1.2rem;
}
#btn{
    width: 80%;
    margin:.5rem auto;
}
#cancel{
    border-radius: 3px;
    border: none;
    background-color: #ec5a5a;
    color: white;
    padding: .5rem;
}
#send{
    border-radius: 3px;
    border: none;
    background-color: #3a3294;
    color: white;
    padding: .5rem;
}
button:hover{
    cursor: pointer;
}